https://www.census.gov/data/tables/time-series/demo/voting-and-registration/p20-580.html

In [2]:
# General Utility# Gener 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import copy
import warnings
from IPython.display import display
from IPython.display import Image
%matplotlib inline

In [3]:
df_5_1 = pd.read_excel('table05_1.xls', header=3)
df_5_1

,18 years and over,Unnamed: 1,Total Population,US Citizen,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Total Population.1,Unnamed: 17
0,NaN,NaN,NaN,Total Citizen Population,Reported registered,NaN,Reported not registered,NaN,No response to registration 1,NaN,Reported voted,NaN,Reported did not vote,NaN,No response to voting 2,NaN,Reported registered,Reported voted
1,NaN,NaN,NaN,NaN,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Percent,Percent
2,Both Sexes,Total,245502.0,224059,157596,70.3,32622,14.6,33841,15.1,137537,61.4,53860,24,32662,14.6,64.2,56
3,NaN,Less than 9th grade,9761.0,5643,2389,42.3,2081,36.9,1173,20.8,1788,31.7,2732,48.4,1123,19.9,24.5,18.3
4,NaN,"9th to 12th grade, no diploma",17727.0,14715,6906,46.9,4862,33,2947,20,5202,35.3,6746,45.8,2767,18.8,39,29.3
5,NaN,High school graduate,71322.0,65518,40983,62.6,13520,20.6,11015,16.8,33774,51.5,21365,32.6,10379,15.8,57.5,47.4
6,NaN,Some college or associate degree,69935.0,66809,48845,73.1,8198,12.3,9766,14.6,42296,63.3,15057,22.5,9456,14.2,69.8,60.5
7,NaN,Bachelor's degree,49526.0,46317,37270,80.5,2974,6.4,6073,13.1,34364,74.2,5862,12.7,6091,13.2,75.3,69.4
8,NaN,Advanced degree,27231.0,25057,21203,84.6,986,3.9,2867,11.4,20113,80.3,2098,8.4,2845,11.4,77.9,73.9
9,MALE,Total,118488.0,107554,73761,68.6,17068,15.9,16724,15.5,63801,59.3,27681,25.7,16071,14.9,62.3,53.8
10,NaN,Less than 9th grade,4870.0,2719,1179,43.4,976,35.9,563,20.7,899,33.1,1277,47,543,20,24.2,18.5
11,NaN,"9th to 12th grade, no diploma",9263.0,7676,3326,43.3,2725,35.5,1626,21.2,2472,32.2,3692,48.1,1512,19.7,35.9,26.7
12,NaN,High school graduate,36156.0,33182,19991,60.2,7434,22.4,5756,17.3,16285,49.1,11538,34.8,5359,16.2,55.3,45
13,NaN,Some college or associate degree,31856.0,30348,21755,71.7,3969,13.1,4624,15.2,18629,61.4,7242,23.9,4477,14.8,68.3,58.5
14,NaN,Bachelor's degree,23288.0,21746,17491,80.4,1459,6.7,2796,12.9,16006,73.6,2893,13.3,2847,13.1,75.1,68.7
15,NaN,Advanced degree,13055.0,11883,10020,84.3,504,4.2,1359,11.4,9510,80,1040,8.7,1333,11.2,76.7,72.8
16,FEMALE,Total,127013.0,116505,83835,72,15553,13.3,17117,14.7,73735,63.3,26179,22.5,16591,14.2,66,58.1
17,NaN,Less than 9th grade,4891.0,2924,1210,41.4,1105,37.8,609,20.8,889,30.4,1455,49.8,580,19.9,24.7,18.2
18,NaN,"9th to 12th grade, no diploma",8464.0,7039,3580,50.9,2138,30.4,1322,18.8,2730,38.8,3054,43.4,1256,17.8,42.3,32.2
19,NaN,High school graduate,35165.0,32336,20992,64.9,6085,18.8,5259,16.3,17489,54.1,9828,30.4,5020,15.5,59.7,49.7
20,NaN,Some college or associate degree,38079.0,36461,27091,74.3,4228,11.6,5142,14.1,23666,64.9,7816,21.4,4979,13.7,71.1,62.2
21,NaN,Bachelor's degree,26238.0,24571,19779,80.5,1515,6.2,3277,13.3,18358,74.7,2969,12.1,3244,13.2,75.4,70
22,NaN,Advanced degree,14176.0,13174,11184,84.9,482,3.7,1508,11.5,10604,80.5,1058,8,1512,11.5,78.9,74.8
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1 'No response to registration' includes those...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2 'No response to voting' includes those who w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"Source: U.S. Census Bureau, Current Population...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN